<ion-view title="{{ team.name }}" hide-back-button="true">
    <ion-nav-buttons side="right">
        <button class="button button-dark" ng-click="cardsCtrl.finish()">
            Finish
        </button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>

            <div collection-repeat="card in cardsCtrl.cards"
                 collection-item-height="getCardHeight(card)"
                 collection-item-width="getCardWidth(card)"
                 ng-style="{'line-height': getCardHeight(card) + 'px'}"
                 ng-class="{'item-divider': card.isCharacter, 'item-card': !card.isCharacter }"
                 class="item card-item">

                <span ng-show="card.isCharacter">{{ card.name }}</span>

                <ion-checkbox ng-show="!card.isCharacter" class="card-checkbox item-icon-right" ng-model="team.set_cards[card.set + '-' + card.number]">
                    {{ card.name }} (#{{ card.number | numberFixedLen:3 }})
                    <i class="icon ion-minus card_{{ card.rarity }}"></i>
                </ion-checkbox>


            </div>

        </ion-list>

    </ion-content>

</ion-view>