.card_Common {
    color: grey;
}

.card_Uncommon {
    color: green;
}

.card_Rare {
    color: yellow;
}

.card_Super-Rare {
    color: red;
}

.global h2, .global p {
    color: maroon;
}

.dice {
    text-align: right;
}

.card-item {
    left: 0;
    right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.card-item.item-card {
    padding: 0;
}
