<ion-view title="{{ team.name }}" hide-back-button="true">
    <ion-nav-buttons side="right">
        <button class="button button-dark" ng-click="diceCtrl.finish()">
            Finish
        </button>
    </ion-nav-buttons>

    <ion-content>

        <ion-list>

            <div ng-show="diceCtrl.teamCards().length === 0">
                <div class="card">
                    <div class="item item-text-wrap">
                        <p>You have no character cards on this team. You'll be able to set dice once you add some.</p>
                    </div>
                </div>
            </div>

            <div class="card" ng-repeat="card in diceCtrl.teamCards() | orderBy:'character'">

                <div class="item item-divider">{{ card.character }} &mdash; {{ card.name }} (#{{ card.number | numberFixedLen:3 }})</div>
                <div class="item">
                    <div class="row">
                        <div class="col col-20">
                            <h1>{{ team.dice[card.set + '-' + card.number] || 0 }}</h1>
                        </div>
                        <div class="col col-offset-50 col-30">
                            <button class="button button-dark" ng-click="diceCtrl.addDie(card)">+</button>
                            <button class="button button-dark" ng-click="diceCtrl.removeDie(card)">-</button>
                        </div>
                    </div>
                </div>
            </div>

        </ion-list>


    </ion-content>

</ion-view>