<ion-view title="{{ team.name }}" hide-back-button="true">
    <ion-nav-buttons side="right">
        <button class="button button-dark" ng-click="editCtrl.finish()">
            Finish
        </button>
    </ion-nav-buttons>

    <ion-content>

        <ion-list>
            <div class="card">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="team.name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Action Cards</span>
                    {{ editCtrl.basicCards() }}
                </label>
                <label class="item item-input">
                    <span class="input-label">Character Cards</span>
                    {{ editCtrl.totalCards() }}
                </label>
                <label class="item item-input">
                    <span class="input-label">Character Dice</span>
                    {{ editCtrl.totalDice() }}
                </label>
            </div>

            <div class="padding">
                <a class="button button-block button-dark" ui-sref="tabs.cards">
                    Manage Team Cards
                </a>
            </div>

            <div class="padding">
                <a class="button button-block button-dark" ui-sref="tabs.dice">
                    Manage Team Dice
                </a>
            </div>


        </ion-list>

    </ion-content>

</ion-view>