<ion-view title="{{ showCtrl.team.name }}">
    <ion-nav-buttons side="right">
        <a class="button button-dark" ui-sref="tabs.team_edit({ id: showCtrl.team._id })">
            Edit
        </a>
    </ion-nav-buttons>

    <ion-header-bar class="bar-subheader">
        <div class="team-stats">
            {{ showCtrl.basicCount(showCtrl.team) }} Basic Actions &middot;
            {{ showCtrl.cardCount(showCtrl.team) }} Cards &middot;
            {{ showCtrl.diceCount(showCtrl.team) }} Dice
        </div>

    </ion-header-bar>


    <ion-content>
        <ion-list>

            <div class="item item-divider"
                 ng-repeat-start="card_group in showCtrl.card_groups"
                 bindonce>
                {{ card_group.key[1] }}
            </div>

            <div class="item item-icon-left item-{{ card.type }}"
                 ng-class="{
                    'item-icon-right': showCtrl.team.set_cards[card.type + '-' + card._id] && card.type === 'basic'
                 }"
                 ng-show="showCtrl.team.set_cards[card.type + '-' + card._id]"
                 ng-repeat="card in card_group.doc.cards | orderBy: raritySort"
                 bindonce>
                <i class="icon ion-stop card_{{ card.rarity }}"></i>

                <div ui-sref="tabs.team_card_art({ id: card._id })">
                    {{ card.name }} <small>&middot; #{{ card.number | numberFixedLen:3 }}</small>

                    <div ng-show="card.type === 'card'">
                        <small>
                            {{ card.cost }} {{ card.cost_type }}
                            <span ng-show="card.affiliation">
                                &mdash;
                                {{ card.affiliation }}
                            </span>
                        </small>
                    </div>

                </div>

                <span class="badge"
                      ng-show="showCtrl.team.set_cards[card.type + '-' + card._id] && card.type !== 'basic'"
                      ng-class="{
                        'badge-energized': owned['cards-' + card._id] && owned['cards-' + card._id] > card.die_limit,
                        'badge-balanced': showCtrl.team.dice[card._id] && showCtrl.team.dice[card._id] > 0 && showCtrl.team.dice[card._id] <= card.die_limit,
                        'badge-dark': !showCtrl.team.dice[card._id] || showCtrl.team.dice[card._id] === 0,

                        }">
                      {{ showCtrl.team.dice[card._id] || 0 }}
                </span>

                <i ng-show="showCtrl.team.set_cards[card.type + '-' + card._id] && card.type === 'basic'"
                   ng-class="{
                         'ion-ios7-checkmark balanced': showCtrl.team.set_cards[card.type + '-' + card._id] && card.type === 'basic'
                   }"
                   class="icon"
                   ng-click="showTeamCardModal(card)"></i>

            </div>

            <div ng-repeat-end></div>


        </ion-list>

    </ion-content>

</ion-view>