<ion-view title="Teams">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios7-minus-outline" ng-click="teamsCtrl.toggleDelete()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-dark" ng-click="teamsCtrl.addTeam()">
            New Team
        </button>
    </ion-nav-buttons>
    <ion-content>

        <ion-list show-delete="teamsCtrl.showDelete">
            <ion-item ng-repeat="team in teams">
                <ion-delete-button class="ion-minus-circled" ng-click="teamsCtrl.deleteTeam(team)"></ion-delete-button>

                <div ui-sref="tabs.show({ teamIndex: $index })">
                    {{ team.name }}
                    <span class="item-note">
                        {{ teamsCtrl.totalCards(team) }} Cards / {{ teamsCtrl.totalDice(team) }} Dice
                    </span>
                </div>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

